<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../js/home.js" defer></script>
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <img id="background" alt="">
    <div id="modal">
        <div id="modal-content">
            <div id="modal-header">New OpenADR Server Level</div>
            <div id="simple-level"></div>
            <div id="response-level">Response Level</div>
            <div id="btn-container"></div>
            <div id="operating-level"></div>
        </div>
    </div>
</body>

</html>